<div class="card ">
    <div class="card-header d-flex justify-content-lg-between">
      <h5>Registros Personas</h5>
      <button type="button" class="btn btn-primary" onclick="cargarFormulario()" data-bs-toggle="modal"
        data-bs-target="#modalFormularioUsuario">
        <i class="fa-solid fa-user-plus"></i> Agregar Usuario
      </button>
    </div>
    <div class="card-datatable table-responsive pt-0">
      <table class="datatables-basic table table-hover" id="data-table">
        <thead >
          <tr>
            <th>#</th>
            <th>Nombre Completo</th>
            <th>Nombre</th>
            <th>Contraseña</th>
            <th>Roles</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="animate__animated animate__fadeIn">
          <tr th:each="usuario, cont: ${usuarios}">
            <td th:text="${cont.count}"></td>
            <td th:text="${usuario.persona.nombre}+' '+${usuario.persona.paterno}+' '+ ${usuario.persona.materno}"></td>
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.password}"></td>
            <td >
              <span th:each="rol: ${usuario.roles}" class="badge bg-label-primary"
              th:text="${rol.nombre}"></span>
            </td>
            <td>
              <button type="button" class="btn btn-sm btn-primary"
                th:onclick="cargarFormularioEdit([[${usuario.idUsuario}]])" data-bs-toggle="modal"
                data-bs-target="#modalFormularioUsuario">
                <i class="fa-solid fa-pen-to-square"></i> Editar
              </button>
              <button type="button" class="btn btn-sm btn-danger" th:onclick="eliminar([[${usuario.idUsuario}]])">
                <i class="fa-solid fa-trash"></i> Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  <script>
    $('#data-table').DataTable({
      language: {
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst": "Primero",
          "sLast": "Último",
          "sNext": "Siguiente",
          "sPrevious": "Anterior"
        },
        "oAria": {
          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
      "stateSave": true
    });
  </script>