<h4 class="py-3 mb-4"><span class="text-muted fw-light">Menu /</span> Usuarios</h4>

<div id="tablaRegistro"></div>

<div class="modal fade" id="modalFormularioUsuario" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="contenidoModalUsuario"></div>
  </div>
</div>

<script>
  $(document).ready(function () {
    cargarTabla();

  });

  function cargarTabla() {
    $.ajax({
      type: 'POST',
      url: "/usuario/tablaRegistros",  // Ruta del metodo del controlador en Spring Boot
      success: function (response) {
        $("#tablaRegistro").html(response);  // Actualiza el contenido del div con la respuesta del servidor
      }
    });
  }

  function cargarFormulario() {
    cargarFormularioAlert("/usuario/formulario", "#contenidoModalUsuario", "#formularioUsuario");
  }

  function cargarFormularioEdit(id) {
    cargarFormularioEditAlert(id, "/usuario/formulario", "#contenidoModalUsuario", "#formularioUsuario");
  }

  function eliminar(nombre, id) {
    eliminarRegistroAlert(nombre, id, "/usuario/eliminar/", cargarTabla);
  }
</script>
</body>