<!doctype html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr"
  data-theme="theme-default" data-assets-path="../../assets/" data-template="vertical-menu-template">

<head th:replace="~{layout/head :: head}"></head>

<body>
  <style>
    .swal2-container {
      z-index: 9999 !important;
      /* Asegúrate de que sea mayor que cualquier otro elemento */
    }
  </style>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      <!-- Menu -->
      <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
      <!-- / Menu -->

      <!-- Layout container -->
      <div class="layout-page">

        <!-- Navbar -->
        <nav th:replace="~{layout/topbar :: topbar}"></nav>
        <!-- / Navbar -->

        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->

          <div class="container-xxl flex-grow-1 container-p-y" id="contenido">
            <h4 class="py-3 mb-4"><span class="text-muted fw-light">Menu /</span> Usuarios</h4>

            <div id="tablaRegistro"></div>

            <div class="modal fade" id="modalFormularioUsuario" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content" id="contenidoModalUsuario"></div>
              </div>
            </div>


          </div>
          <!-- / Content -->

          <!-- Footer -->
          <footer class="content-footer footer bg-footer-theme">
            <div class="container-xxl">
              <div
                class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">
                <div>
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , desarrollado por
                  <a href="https://pixinvent.com" target="_blank" class="footer-link text-primary fw-medium">Jhowill
                    Neytan Asturizaga Lanza</a>
                </div>
              </div>
            </div>
          </footer>
          <!-- / Footer -->

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>
  </div>
  <!-- / Layout wrapper -->

  <div th:replace="~{layout/script :: script}"></div>

  <div th:replace="~{layout/editPerfil :: editPerfil}"></div>
  <script>
    $(document).ready(function () {
      cargarTabla();

    });

    function cargarTabla() {
      $.ajax({
        type: 'POST',
        url: "/usuario/tablaRegistros",  // Ruta del metodo del controlador en Spring Boot
        success: function (response) {
          $("#tablaRegistro").html(response);  // Actualiza el contenido del div con la respuesta del servidor
        }
      });
    }

    function cargarFormulario() {
      cargarFormularioAlert("/usuario/formulario", "#contenidoModalUsuario", "#formularioUsuario");
    }

    function cargarFormularioEdit(id) {
      cargarFormularioEditAlert(id, "/usuario/formulario", "#contenidoModalUsuario", "#formularioUsuario");
    }

    function eliminar(id) {
      //eliminarRegistroAlert(nombre, id, "/actividad/eliminar", cargarTabla);
      $.ajax({
        url: "/cargar-datos",  // URL para verificar la sesión
        method: "GET",
        success: function () {
          // Si la sesión es válida, procede con la eliminación
          Swal.fire({
            title: 'Eliminar Registro',
            text: '¿Estás seguro de eliminar a este registro?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar',
            reverseButtons: true
          }).then((result) => {
            if (result.isConfirmed) {
              // Si el usuario confirma, realizar la llamada AJAX para eliminar
              $.ajax({
                url: "/usuario/eliminar/" + id,  // URL para eliminar el registro con el ID
                type: 'POST',
                success: function (response) {
                  cargarTabla();  // Recargar la tabla (función pasada como parámetro)
                  Swal.fire(
                    'Eliminado!',
                    response,
                    'success'
                  );
                },
                error: function (xhr, status, error) {
                  Swal.fire(
                    'Error',
                    'Hubo un problema al eliminar el registro. Por favor, inténtalo de nuevo.',
                    'error'
                  );
                }
              });
            }
          });
        },
        error: function (xhr) {
          if (xhr.status === 401) {
            // Si la sesión ha expirado, muestra una alerta con SweetAlert2
            Swal.fire({
              title: 'Sesión expirada',
              text: 'Tu sesión ha expirado. Por favor, inicia sesión nuevamente.',
              icon: 'warning',
              confirmButtonText: 'Ir al login'
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.href = '/form-login';  // Redirige a la página de login
              }
            });
          }
        }
      });
    }
  </script>

</body>

</html>