<div th:fragment="editPerfil">
    <!-- Modal formulario perfil usuario -->
    <div class="modal fade" id="modalFormularioPefilUsuario" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class="fa fa-user"></i>
                        <th:block th:text="' Perfil: '+${session.usuario.nombre}"></th:block>
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="formularioPerfilUsuario" method="post" th:action="@{/usuario/ModificarPerfilUsuario}"
                    novalidate>
                    <input type="hidden" th:value="${session.usuario.idUsuario}" name="idUsuario">
                    <div class="modal-body">
                        <div class="row mb-2">
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditUserFirstName">Nombre de Usuario</label>
                                <input type="text" th:value="${session.usuario.nombre}" class="form-control"
                                    placeholder="Introduzca un nombre de usuario" name="nombreUser" required />
                                <div class="valid-feedback">Correcto!</div>
                                <div class="invalid-feedback">Porfavor Introduzca un Nombre.</div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditUserLastName">Contraseña</label>
                                <input type="text" th:value="${session.usuario.password}" name="password"
                                    class="form-control" placeholder="Introduzca una contraseña" required />
                                <div class="valid-feedback">Correcto!</div>
                                <div class="invalid-feedback">Porfavor Introduzca una Contraseña.</div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditUserFirstName">C.I.</label>
                                <input type="text" th:value="${session.persona.ci}" name="ci" class="form-control"
                                    placeholder="Introduzca C.I." required />
                                <div class="valid-feedback">Correcto!</div>
                                <div class="invalid-feedback">Porfavor Introduzca un nro de C.I.</div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditUserLastName">Nombre</label>
                                <input type="text" th:value="${session.persona.nombre}" name="nombre"
                                    class="form-control" placeholder="Introduzca Nombre" required />
                                <div class="valid-feedback">Correcto!</div>
                                <div class="invalid-feedback">Porfavor Introduzca un nombre.</div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditUserFirstName">Apellido Paterno</label>
                                <input type="text" th:value="${session.persona.paterno}" name="paterno"
                                    class="form-control" placeholder="Introduzca Apellido Paterno" required />
                                <div class="valid-feedback">Correcto!</div>
                                <div class="invalid-feedback">Porfavor Introduzca un apellido paterno.</div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditUserFirstName">Apellido Materno</label>
                                <input type="text" th:value="${session.persona.materno}" name="materno"
                                    class="form-control" placeholder="Introduzca Apellido Materno" required />
                                <div class="valid-feedback">Correcto!</div>
                                <div class="invalid-feedback">Porfavor Introduzca un apellido materno.</div>
                            </div>
                        </div>
                        <div class="row">
                            <label for="">Roles Asignados</label>
                            <div class="cold-md-12">
                                <span th:each="rol: ${session.roles}" class="badge bg-label-primary"
                                    th:text="${rol.nombre}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-12">
                                <input type="submit" class="btn btn-success" value="Guardar Cambios">
                                <a type="submit" class="btn btn-secondary" style="color: white;"
                                    data-bs-dismiss="modal">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $('#formularioPerfilUsuario').submit(function (event) {
                event.preventDefault();
                if (this.checkValidity() === false) {
                    $(this).addClass('was-validated');
                    return;
                }
                var form = $(this)[0];
                var formData = new FormData(form);

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    contentType: false,  // No establecer el tipo de contenido aquí
                    processData: false,  // No procesar los datos
                    success: function (response) {

                        if (response === 'Se realizó el registro correctamente') {
                            Swal.fire(
                                'Registrado!',
                                response + ', para ver lo cambios en su perfil, debe volver a iniciar la sesion',
                                'success'
                            );
                        } else {
                            Swal.fire(
                                'Imposible Registrar!',
                                response + '.',
                                'error'
                            );
                        }

                    },
                    error: function (xhr, status, error) {
                        Swal.fire(
                            'Imposible Registrar!',
                            'Ha ocurrido un error. Por favor, intenta nuevamente.' + xhr, status, error,
                            'error'
                        );
                        console.error(error);
                        // Manejo de errores
                    }
                });
            });
            //cargarNotificacionesAvances();
        });

    </script>
</div>