<div th:fragment="script">
  <!-- Librerías Básicas -->
  <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
  <script src="../../assets/vendor/libs/popper/popper.js"></script>

  <!-- Bootstrap -->
  <script src="../../assets/vendor/js/bootstrap.js"></script>

  <!-- Otras Librerías y Plugins -->
  <script src="../../assets/vendor/libs/node-waves/node-waves.js"></script>
  <script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="../../assets/vendor/libs/hammer/hammer.js"></script>
  <script src="../../assets/vendor/libs/i18n/i18n.js"></script>
  <script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>
  <script src="../../assets/vendor/js/menu.js"></script>

  <!-- Vendors JS -->
  <script src="../../assets/vendor/libs/select2/select2.js"></script>
  <script src="../../assets/vendor/libs/tagify/tagify.js"></script>
  <script src="../../assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
  <script src="../../assets/vendor/libs/bloodhound/bloodhound.js"></script>
  <script src="../../assets/vendor/libs/autosize/autosize.js"></script>
  <script src="../../assets/vendor/libs/cleavejs/cleave.js"></script>
  <script src="../../assets/vendor/libs/cleavejs/cleave-phone.js"></script>
  <script src="../../assets/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js"></script>
  <script src="../../assets/vendor/libs/jquery-repeater/jquery-repeater.js"></script>
  <script src="../../assets/js/forms-extras.js"></script>

  <!-- flatpicker (datepicker) JS -->
  <script src="../../assets/vendor/libs/flatpickr/flatpickr.js"></script>
  <script src="../../assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
  <script src="../../assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
  <script src="../../assets/vendor/libs/jquery-timepicker/jquery-timepicker.js"></script>
  <script src="../../assets/vendor/libs/pickr/pickr.js"></script>
  <script src="../../assets/js/forms-pickers.js"></script>

  <!-- moment JS -->
  <script src="../../assets/vendor/libs/moment/moment.js"></script>

  <!-- Cleave.js -->
  <script src="../../assets/vendor/libs/cleavejs/cleave.js"></script>
  <script src="../../assets/vendor/libs/cleavejs/cleave-phone.js"></script>

  <!-- form-validacion -->

  <script src="../../assets/vendor/libs/@form-validation/popular.js"></script>
  <script src="../../assets/vendor/libs/@form-validation/bootstrap5.js"></script>
  <script src="../../assets/vendor/libs/@form-validation/auto-focus.js"></script>

  <!-- Scripts Principales -->
  <script src="../../assets/js/main.js"></script>
  <script src="../../assets/js/forms-selects.js"></script>
  <script src="../../assets/js/forms-tagify.js"></script>
  <script src="../../assets/js/forms-typeahead.js"></script>
  <script src="../../assets/js/form-validation.js"></script>
  <script src="../../assets/js/form-layouts.js"></script>
  <script src="../../assets/js/ui-modals.js"></script>

  <!-- Scripts de Tablas y DataTables -->
  <script src="../../assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
  <script src="../../assets/js/tables-datatables-basic.js"></script>
  <script src="../../assets/js/tables-datatables-extensions.js"></script>

  <script src="../../assets/js/ui-popover.js"></script>

  <script src="../../assets/js/sweetalert2.all.min.js"></script>
  <script src="../../assets/vendor/libs/dropzone/dropzone.js"></script>
  <!-- JS de Dropzone -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script> -->
  <script src="../../assets/vendor/js/fragment.js"></script>

  <!-- Scripts de FilePond y sus plugins -->
  <script src="../../assets/js/filepond.min.js"></script>
  <script src="../../assets/js/filepond-plugin-image-preview.min.js"></script>
  <script src="../../assets/js/filepond-plugin-image-exif-orientation.min.js"></script>

  <script src="../../assets/js/filepond-plugin-file-validate-size.min.js"></script>
  <script src="../../assets/js/filepond-plugin-image-edit.min.js"></script>

  <!-- Script de Pintura -->
  <script src="../../assets/js/pintura.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- <script>
    var botonPulsado;

    $(document).ready(function () {

      // ventana por defecto al iniciar sesión
      cargarContenido("/pei/ventana");
      botonPulsado = document.getElementById("opcion_pei");
      botonPulsado.classList.add("active");

      // menú de rol
      $("#opcion_rol").click(function (e) {
        e.preventDefault();
        cargarContenido("/rol/ventana");

        if (botonPulsado.classList.contains("active")) {
          botonPulsado.classList.remove("active");
        }

        botonPulsado = document.getElementById("opcion_rol");;

        botonPulsado.classList.add("active");

      });

      // menú de persona
      $("#opcion_persona").click(function (e) {
        e.preventDefault();
        cargarContenido("/persona/ventana");

        if (botonPulsado.classList.contains("active")) {
          botonPulsado.classList.remove("active");
        }

        botonPulsado = document.getElementById("opcion_persona");;

        botonPulsado.classList.add("active");

      });

      // menú de usuario
      $("#opcion_usuario").click(function (e) {
        e.preventDefault();
        cargarContenido("/usuario/ventana");

        if (botonPulsado.classList.contains("active")) {
          botonPulsado.classList.remove("active");
        }

        botonPulsado = document.getElementById("opcion_usuario");;

        botonPulsado.classList.add("active");

      });

      // menú de responsable
      $("#opcion_responsable").click(function (e) {
        e.preventDefault();
        cargarContenido("/responsable/ventana");

        if (botonPulsado.classList.contains("active")) {
          botonPulsado.classList.remove("active");
        }

        botonPulsado = document.getElementById("opcion_responsable");;

        botonPulsado.classList.add("active");

      });

      $("#opcion_asignar").click(function (e) {
        e.preventDefault();
        cargarContenido("/techoPresupuestario/ventana");

        if (botonPulsado.classList.contains("active")) {
          botonPulsado.classList.remove("active");
        }

        botonPulsado = document.getElementById("opcion_asignar");;

        botonPulsado.classList.add("active");

      });

      $("#opcion_pei").click(function (e) {
        e.preventDefault();
        cargarContenido("/pei/ventana");

        if (botonPulsado.classList.contains("active")) {
          botonPulsado.classList.remove("active");
        }

        botonPulsado = document.getElementById("opcion_pei");;

        botonPulsado.classList.add("active");

      });

      // $("#opcion_area").click(function (e) {
      //   e.preventDefault();
      //   cargarContenido("/area/ventana");

      //   if (botonPulsado.classList.contains("active")) {
      //     botonPulsado.classList.remove("active");
      //   }

      //   botonPulsado = document.getElementById("opcion_area");;

      //   botonPulsado.classList.add("active");

      // });

      $("#opcion_politica").click(function (e) {
        e.preventDefault();
        cargarContenido("/politica/ventana");

        if (botonPulsado.classList.contains("active")) {
          botonPulsado.classList.remove("active");
        }

        botonPulsado = document.getElementById("opcion_politica");;

        botonPulsado.classList.add("active");

      });

      $("#opcion_objetivo").click(function (e) {
        e.preventDefault();
        cargarContenido("/objetivo/ventana");

        if (botonPulsado.classList.contains("active")) {
          botonPulsado.classList.remove("active");
        }

        botonPulsado = document.getElementById("opcion_objetivo");;

        botonPulsado.classList.add("active");

      });

      $("#opcion_indicador").click(function (e) {
        e.preventDefault();
        cargarContenido("/indicador/ventana");

        if (botonPulsado.classList.contains("active")) {
          botonPulsado.classList.remove("active");
        }

        botonPulsado = document.getElementById("opcion_indicador");;

        botonPulsado.classList.add("active");

      });

      $("#opcion_resultado").click(function (e) {
        e.preventDefault();
        cargarContenido("/resultado/ventana");

        if (botonPulsado.classList.contains("active")) {
          botonPulsado.classList.remove("active");
        }

        botonPulsado = document.getElementById("opcion_resultado");;

        botonPulsado.classList.add("active");

      });

      $("#opcion_metas").click(function (e) {
        e.preventDefault();
        cargarContenido("/meta/ventana");

        if (botonPulsado.classList.contains("active")) {
          botonPulsado.classList.remove("active");
        }

        botonPulsado = document.getElementById("opcion_metas");;

        botonPulsado.classList.add("active");

      });

      $("#opcion_avances").click(function (e) {
        e.preventDefault();
        cargarContenido("/avance/ventana");

        if (botonPulsado.classList.contains("active")) {
          botonPulsado.classList.remove("active");
        }

        botonPulsado = document.getElementById("opcion_avances");;

        botonPulsado.classList.add("active");

      });

      $("#opcion_evaluar_avances").click(function (e) {
        e.preventDefault();
        cargarContenido("/avance/ventanaEvaluador");

        if (botonPulsado.classList.contains("active")) {
          botonPulsado.classList.remove("active");
        }

        botonPulsado = document.getElementById("opcion_evaluar_avances");;

        botonPulsado.classList.add("active");

      });

      $("#grafica_estadistica").click(function (e) {
        e.preventDefault();
        cargarContenido("/grafica/ventana");

        if (botonPulsado.classList.contains("active")) {
          botonPulsado.classList.remove("active");
        }

        botonPulsado = document.getElementById("opcion_evaluar_avances");;

        botonPulsado.classList.add("active");

      });

      // Función para cargar el contenido de la opción seleccionada
      function cargarContenido(url) {
        // Verifica si la sesión está activa antes de cargar el contenido
        $.ajax({
          url: "/cargar-datos",
          method: "GET",
          success: function () {
            // Si la sesión es válida, carga el contenido solicitado
            $("#contenido").html(`
              <div class="col d-flex justify-content-center">
                 
                  <div class="sk-chase sk-primary">
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                  </div>
                </div>`);

            $.ajax({
              url: url,
              method: "GET",
              success: function (data) {
                $("#contenido").html(data); // Carga el contenido si todo está bien
              },
              error: function (xhr) {
                console.error('Error en la solicitud:', xhr);
              }
            });
          },
          error: function (xhr) {
            if (xhr.status === 401) {
              // Si la sesión ha expirado, muestra una alerta con SweetAlert2
              Swal.fire({
                title: 'Sesión expirada',
                text: 'Tu sesión ha expirado. Por favor, inicia sesión nuevamente.',
                icon: 'warning',
                confirmButtonText: 'Ir al login',
                allowOutsideClick: false
              }).then((result) => {
                if (result.isConfirmed) {
                  window.location.href = '/form-login'; // Redirige a la página de login
                }
              });
            }
          }
        });
      }

    });

    function botonSeleccionado(id) {
      var elemento = document.getElementById(id);
      botonPulsado = elemento.id;
    }

  </script> -->
</div>