<!-- Menu -->
<aside th:fragment="sidebar" id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="/Planificacion" class="app-brand-link">
            <!-- <span class="app-brand-logo demo">
                <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
                        fill="#7367F0" />
                    <path opacity="0.06" fill-rule="evenodd" clip-rule="evenodd"
                        d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z" fill="#161616" />
                    <path opacity="0.06" fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z" fill="#161616" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
                        fill="#7367F0" />
                </svg>
            </span> -->
            <img src="../../../assets/img/logos/logoDPEI-removebg-preview.png" alt="" style="width: 40px; height: 40px;">
            <span class="app-brand-text demo menu-text fw-bold">Planificacion</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
            <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
        </a>
    </div>

    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">INICIO</span>
        </li>
        <li class="menu-item" th:if="${#lists.contains(session.roles.![nombre], 'SUPER USUARIO')}">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-users"></i>
                <div>Administrar Usuarios</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" id="opcion_rol">
                    <a class="menu-link">
                        <div>Rol</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_persona">
                    <a class="menu-link">
                        <div>Persona</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_usuario">
                    <a class="menu-link">
                        <div>Usuario</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_responsable">
                    <a class="menu-link">
                        <div>Responsable</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item active open">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-wallet"></i>
                <div>Adminitrar PEI</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" id="opcion_pei">
                    <a class="menu-link">
                        <div data-i18n="PEI">PEI</div>
                    </a>
                </li>
                <!-- <li class="menu-item" id="opcion_area">
                    <a class="menu-link">
                        <div data-i18n="Área Estratégica">Área Estratégica</div>
                    </a>
                </li> -->
                <li class="menu-item" id="opcion_politica">
                    <a class="menu-link">
                        <div data-i18n="Politica">Politica</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_objetivo">
                    <a class="menu-link">
                        <div data-i18n="Objetivo">Objetivo</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_indicador">
                    <a class="menu-link">
                        <div data-i18n="Indicador">Indicador</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_resultado">
                    <a class="menu-link">
                        <div data-i18n="Resultado">Resultado</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_metas">
                    <a class="menu-link">
                        <div data-i18n="Metas y Responsables">Metas y Responsables</div>
                    </a>
                </li>
            </ul>
        </li>
        
        <!-- Apps & Pages -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">POR DEFINIR</span>
        </li>
        <li class="menu-item" th:if="${#lists.contains(session.roles.![nombre], 'RESPONSABLE') || #lists.contains(session.roles.![nombre], 'EVALUADOR')}">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-checklist"></i>
                <div>Administrar Avances</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" id="opcion_avances" th:if="${#lists.contains(session.roles.![nombre], 'RESPONSABLE')}">
                    <a class="menu-link">
                        <div>Avances</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_evaluar_avances" th:if="${#lists.contains(session.roles.![nombre], 'EVALUADOR')}">
                    <a class="menu-link">
                        <div>Evaluar Avance</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item" id="grafica_estadistica">
            <a class="menu-link">
                <i class="menu-icon tf-icons ti ti-mail"></i>
                <div>Grafica</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-businessplan"></i>
                <div>Presupuesto</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" id="opcion_asignar">
                    <a class="menu-link">
                        <div>Techo Presupuestario</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>
<!-- / Menu -->