<div class="modal-header">
  <h4 class="modal-title" th:text="${edit}? 'Modificar Actividad' : 'Registrar Actividad'"></h4>
  <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
</div>
<form id="formularioRegistro" method="post" th:action="${edit}? @{/actividad/Modificar} : @{/actividad/Registrar}"
  novalidate>
  <input type="hidden" th:if="${edit != null}" th:field="${actividad.idActividad}">
  <div class="modal-body">
    <div class="row">
      <div class="col-12 col-md-12">
        <label class="form-label" for="modalEditUserFirstName">Descripción</label>
        <textarea class="form-control" th:field="${actividad.descripcion}"
          placeholder="Introduzca Introduzca la Descripción de la Actividad" required></textarea>
        <div class="valid-feedback">Correcto!</div>
        <div class="invalid-feedback">Porfavor Introduzca la Descripción.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <label class="form-label" for="modalEditUserFirstName">Fecha Inicio</label>
        <input type="text" name="fechaInicio" th:value="${#dates.format(actividad.fechaInicio, 'dd/MM/yyyy')}"
          class="form-control datepickerD" placeholder="__/__/___" required />
        <div class="valid-feedback">Correcto!</div>
        <div class="invalid-feedback">Porfavor Introduzca una fecha de inicio.</div>
      </div>
      <div class="col-12 col-md-6">
        <label class="form-label" for="modalEditUserFirstName">Fecha Final</label>
        <input type="text" name="fechaFin" th:value="${#dates.format(actividad.fechaFin, 'dd/MM/yyyy')}"
          class="form-control datepickerD" placeholder="__/__/____" required />
        <div class="valid-feedback">Correcto!</div>
        <div class="invalid-feedback">Porfavor Introduzca una fecha final.</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-12">
        <input type="submit" class="btn btn-success" th:value="${edit}? 'Guardar Cambios': 'Guardar Registro'">
        <a type="submit" class="btn btn-secondary" style="color: white;" data-bs-dismiss="modal">Cancelar</a>
      </div>
    </div>
  </div>
</form>

<script>
  $(document).ready(function () {

    // Usar event delegation con jQuery moderno
    $(document).on('focusin', '.datepickerD', function () {
      $(this).datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        language: 'es'
      });
    });

    // // Aplicar máscara a todos los elementos con clase datepickerD
    // const dateInputs = $('.datepickerD');
    // dateInputs.mask('99/99/9999');

    $('.select2').select2({
      dropdownParent: $('#formularioRegistro')  // Especificar el parent para el dropdown
    })

    $('#formularioRegistro').submit(function (event) {
      event.preventDefault();
      if (this.checkValidity() === false) {
        $(this).addClass('was-validated');
        return;
      }
      var form = $(this)[0];
      var formData = new FormData(form);

      $.ajax({
        type: 'POST',
        url: $(this).attr('action'),
        data: formData,
        contentType: false,  // No establecer el tipo de contenido aquí
        processData: false,  // No procesar los datos
        success: function (response) {

          if (response === 'Se realizó el registro correctamente') {
            cargarTabla();
            cargarFormulario();
            Swal.fire(
              'Registrado!',
              response + '.',
              'success'
            );
          } else {
            Swal.fire(
              'Imposible Registrar!',
              response + '.',
              'error'
            );
          }

        },
        error: function (xhr, status, error) {
          Swal.fire(
            'Imposible Registrar!',
            'Ha ocurrido un error. Por favor, intenta nuevamente.' + xhr, status, error,
            'error'
          );
          console.error(error);
          // Manejo de errores
        }
      });
    });

  });
</script>