<div class="card ">
    <div class="card-header d-flex justify-content-lg-between">
      <h5>Registros Personas</h5>
      <button type="button" class="btn btn-primary" onclick="cargarFormulario()" data-bs-toggle="modal"
        data-bs-target="#modalFormularioPersona">
        <i class="fa-solid fa-user-plus"></i> Agregar Persona
      </button>
    </div>
    <div class="card-datatable table-responsive pt-0">
      <table class="datatables-basic table table-hover" id="data-table">
        <thead >
          <tr>
            <th>#</th>
            <th>C.I.</th>
            <th>Nombre Completo</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="animate__animated animate__bounceInDown">
          <tr th:each="persona, cont: ${personas}">
            <th th:text="${cont.count}"></th>
            <th th:text="${persona.ci}"></th>
            <th th:text="${persona.nombre}+' '+${persona.paterno}+' '+ ${persona.materno}"></th>
            <th>
              <button type="button" class="btn btn-sm btn-primary"
                th:onclick="cargarFormularioEdit([[${persona.idPersona}]])" data-bs-toggle="modal"
                data-bs-target="#modalFormularioPersona">
                <i class="fa-solid fa-pen-to-square"></i> Editar
              </button>
              <button type="button" class="btn btn-sm btn-danger" th:onclick="eliminar([[${persona.idPersona}]])">
                <i class="fa-solid fa-trash"></i> Eliminar
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>