<div class="card ">
  <div class="card-header d-flex justify-content-lg-between">
    <h5>Registros de Actividades Asignadas</h5>
    <button type="button" class="btn btn-primary" onclick="cargarFormulario()" data-bs-toggle="modal"
      data-bs-target="#modalFormularioAvance">
      <i class="fa-solid fa-plus"></i> Agregar Avance
    </button>
  </div>
  <div class="card-datatable table-responsive pt-0">
    <table class="datatables-basic table table-hover" id="data-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha Registro</th>
          <th>Valor de Progreso</th>
          <th>Observación</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody class="animate__animated animate__fadeIn">
        <tr th:each="avance, cont: ${avances}">
          <td th:text="${cont.count}"></td>
          <td th:text="${avances.valorProgreso}+' %'"></td>
          <td th:text="${avances.observacion}"></td>
          <td th:text="${#dates.format(avances.registro, 'dd/MM/yyyy hh:mm a')}"></td>
          <td>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<script>
  $('#data-table').DataTable({
    language: {
      "sProcessing": "Procesando...",
      "sLengthMenu": "Mostrar _MENU_ registros",
      "sZeroRecords": "No se encontraron resultados",
      "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix": "",
      "sSearch": "Buscar:",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
        "sFirst": "Primero",
        "sLast": "Último",
        "sNext": "Siguiente",
        "sPrevious": "Anterior"
      },
      "oAria": {
        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    },
    "stateSave": true
  });
</script>