<div class="card ">
  <div class="card-header d-flex justify-content-lg-between">
    <h5>Registros de Actividades Asignadas</h5>
    <button type="button" class="btn btn-primary" onclick="cargarFormularioAvance()" data-bs-toggle="modal"
      data-bs-target="#modalFormularioAvance">
      <i class="fa-solid fa-plus"></i> Agregar Avance
    </button>
  </div>
  <div class="card-datatable table-responsive pt-0">
    <table class="datatables-basic table table-hover" id="data-table2">
      <thead>
        <tr>
          <th>#</th>
          <th>Valor de Progreso</th>
          <th>Observación</th>
          <th>Fecha Registro</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody class="animate__animated animate__fadeIn">
        <tr th:each="avance, cont: ${avances}">
          <td th:text="${cont.count}"></td>
          <td th:text="${avance.valorProgreso}+' %'"></td>
          <td th:text="${avance.observacion}"></td>
          <td th:text="${#dates.format(avance.registro, 'dd/MM/yyyy hh:mm a')}"></td>
          <td>
            <button type="button" class="btn btn-sm btn-info"
              th:onclick="verAdjuntos([[${avance.idAvance}]])" data-bs-toggle="modal"
              data-bs-target="#modalAdjuntos">
              <i class="fa-solid fa-book-open"></i> Ver Adjuntos
            </button>
            <button type="button" class="btn btn-sm btn-primary"
              th:onclick="cargarFormularioAvanceEdit([[${avance.idAvance}]], [[${avance.asignacion.idAsignacion}]])" data-bs-toggle="modal"
              data-bs-target="#modalFormularioAvance">
              <i class="fa-solid fa-pen-to-square"></i> Editar
            </button>
            <button type="button" class="btn btn-sm btn-danger" th:onclick="eliminarAvance([[${avance.idAvance}]])">
              <i class="fa-solid fa-trash"></i> Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<script>
  $('#data-table2').DataTable({
    language: {
      "sProcessing": "Procesando...",
      "sLengthMenu": "Mostrar _MENU_ registros",
      "sZeroRecords": "No se encontraron resultados",
      "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix": "",
      "sSearch": "Buscar:",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
        "sFirst": "Primero",
        "sLast": "Último",
        "sNext": "Siguiente",
        "sPrevious": "Anterior"
      },
      "oAria": {
        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    },
    "stateSave": true
  });
</script>